In [1]:
print("Hello, World!")

Hello, World!

In [ ]:
#Assignment
a = 10
b = 'ball'
#Print function
print(a)
print(b)

10
ball

In [4]:
#Type function
#Python is dynamically typed
print(type(a))
print(type(b))

<class 'int'>
<class 'str'>

In [8]:
#Reassign variable - this chages it's type
a = 7/8
print(type(a))
print(a)
a = "String"
print(a)
print(type(a))
b = 2
print(type(b))

#Reassign b, taking the old value of b and adding 3
b= b + 3
print(b)

<class 'float'>
0.875
String
<class 'str'>
<class 'int'>
5

In [9]:
#Symbolic calculations are not permitted
#You need to specify a function
b = x + x**2

NameError: name 'x' is not defined

In [ ]:
#Gives a NameError

In [12]:
a = 7
b = -2
#Assert relationship
print(a > b)
print(a <= b)
print(a == b)
print(a != b, end = "!!! \n")

True
False
False
True!!!

In [13]:
#Assign Booleans
d = False
c = (a > b)

In [14]:
#And, or, not
e = not d
f = not d and c
g = d or c

In [15]:
#Bool function: is it falsy or truthy?
print(bool(0))
print(bool(101))
print(bool("word"))
print(bool(""))

False
True
True
False

In [3]:
#Empty list
empty = [] # alternative list ()
#add item to list
a = 7
b = 8
c = -2
d = "fun"
empty.append(a)
empty.append(b)
empty.append(c)
empty.append(d)

In [17]:
#****Dot operator comes after variable name and is fiollowed by the method

In [18]:
len(empty)

4

In [22]:
#Indexing
print(empty[0])
#To get the last item
print(empty[-1])
#Alternative 
print(empty[len(empty)-1])

7
fun
fun

In [23]:
empty.pop(-1)

'fun'

In [25]:
#Slicing
print(empty[0 : 1])
print(empty[0 : 2])
print(empty[ : 2])
print(empty[ : 1])
#Steps (thrid entry; default is 1)
print(empty[0 :: 2])

[7]
[7, 8]
[7, 8]
[7]
[7, -2]

In [26]:
empty.append("a")

In [28]:
print(empty[0 :: 2])
print(empty[0 :: 3])

[7, -2]
[7, 'a']

In [29]:
empty.append(222)

In [33]:
print(empty[0 : 4 : 1])

[7, 8, -2, 'a']

In [34]:
print(empty[0 : 3 : 1])

[7, 8, -2]

In [35]:
print(empty[0 : 4 : 2])

[7, -2]

In [36]:
print(empty[0 : 4 : 4])

[7]

In [1]:
#[first number is start : second number is end, exclusive : thrid number is step size]

In [4]:
#Shallow copy
copy = empty[:]

In [5]:
copy.reverse()

In [19]:
#The in and not in operator 
print(d in empty)
print(d not in empty)

#This lets you see if an item is in or not in a list

True
False

In [7]:
first_tuple = ()

In [8]:
#Add one item to a tuple using +
item_one = "First name"
item_two = "Last name"
item_three = "Position"
#Note the comma!
updated_tuple = first_tuple + (item_one, ) +(item_two, ) + (item_three, )

In [9]:
updated_list = list(updated_tuple)

In [10]:
print(updated_tuple[0])
print(updated_tuple[:2])

First name
('First name', 'Last name')

In [13]:
#Unpacking a tuple into items and lists
first_name, *other = updated_tuple

In [12]:
print(first_name)

First name

In [ ]:
first_set = set()
#Adding colurs to the set of colours
first_set.add("red")
first_set.add("blue")
first_set.add("green")
first_set.add("red")
print(first_set)

{'green', 'red', 'blue'}

In [15]:
#There are no duplicates in a set and order doesn't matter

In [18]:
print("red" in first_set)
print("blue" not in first_set)

True
False

In [21]:
my_dict = {"Name": "Tom"}
print(my_dict["Name"])

Tom

In [22]:
my_dict.update({"Age" : 43})
print(my_dict)

{'Name': 'Tom', 'Age': 43}

In [24]:
#list function on a dict returns the keys
list_keys = list(my_dict)
print(list_keys)

['Name', 'Age']

In [25]:
list_keys2 = sorted(my_dict)
print(list_keys2)

['Age', 'Name']

In [26]:
new_dict = dict([("Name", "Amy"), ("Position", "Data Nerd")])
print(new_dict)

{'Name': 'Amy', 'Position': 'Data Nerd'}

In [27]:
new_dict = dict(Name ="Amy", Position = "Data nerd")
print(new_dict)

{'Name': 'Amy', 'Position': 'Data nerd'}

In [ ]:
#the dict function can be used to create dictionaries. You can use tuples or keyword arguments.

In [30]:
for i in range(12):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11

In [31]:
#range is exclusive

In [32]:
foods = ["apples", "pizza", "bread"]
for food in foods:
    print(f"I like {food}")

I like apples
I like pizza
I like bread

In [33]:
fib = [0, 1]
while fib[-1] < 10000:
    fib.append(fib[-2] + fib[-1])
print(fib)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584, 4181, 6765, 10946]

In [ ]:
#Elegant fib algorithm with a limit!

In [ ]:
customer_name = input("What's your name? ")
greeting = input(f"Hi {customer_name}! We have bread, pizza and apples to buy. Press Enter to continue")
bread_order = int(input("How much Bread would you like? "))
pizza_order = int(input("How many Pizza's would you like? "))
apple_order = int(input("How many Apples would you like? "))
cost = (bread_order * 0.5) + (pizza_order * 15) + (apple_order * 1.2)
Total = "%.2f" % cost
print(f"That will be £{Total}, thank you {customer_name}!")

That will be £100.90, thank you Michael!

In [3]:
#Walthrough of project by author, follows

In [4]:
#Create a list of food items
food_list = ["pizza", "pasta", "burger"]
#Create a list of prices 
price_list = [10, 7.5, 5]

In [ ]:
#The input function
print("Welcome to Cheap Cuts")
name = input("Enter your name: ")

#Make an order
order_list = []

for food in food_list:
    order = input(f'({name} do you want {food}?: [y/n])')
    if order == 'y':
        order_list.append(1)
    elif order == 'n':
        order_list.append(0)   
    else :
        print(f'sorry {name} I do not understand')

Welcome to Cheap Cuts

In [8]:
#Make an order
order_list = []

for food in food_list:
    order_incomplete = True
    while order_incomplete:
        order = input(f'{name} do you want {food}?: [y/n] ')
        if order == 'y':
            order_list.append(1)
            order_incomplete = False
        elif order == 'n':
            order_list.append(0)  
            order_incomplete = False
        else :
            print(f'sorry {name} I do not understand')

In [10]:
#Make an order
order_list = []

for food in food_list:
    order_incomplete = True
    while order_incomplete:
        order = input(f'{name} do you want {food}?: [y/n] ')
        if order == 'y':
            num = input(f'How many {food}s do you want? ')
            order_list.append(int(num))
            order_incomplete = False
        elif order == 'n':
            order_list.append(0)  
            order_incomplete = False
        else :
            print(f'sorry {name} I do not understand')

In [11]:
list_num = [2, 4, 5]
list_even_num = [num for num in list_num if num % 2 == 0]

In [14]:
list_num = [2, 4, 5]
list_even_num = []
for num in list_num:
    if num % 2 == 0:
        list_even_num.append(num)

In [15]:
print(f'\nThanks {name} for ordering {order_list[0]}  {food_list[0]}s')
print(f'{order_list[1]} {food_list[1]}s and {order_list[2]} {food_list[2]}s')

total_price = sum( [order * price for order, price in zip(order_list, price_list)])

print(f'Please pay GBP {total_price}')

Thanks MIchael for ordering 5  pizzas
4 pastas and 0 burgers
Please pay GBP 80.0

In [16]:
#Author has an option to put 'n' for no, I left this as an ability to put 0 maybe. Slightly more dynamic. different price clculation using for and zip.

In [17]:
x = 5
a = 3
result = x**a
print(f'{x} to the power of {a} equals {result}.')

5 to the power of 3 equals 125.

In [18]:
def power(x, a):
    out = x**a
    print(f'{x} to the power {a} is {out}.')

In [19]:
power(5,3)
power(x = 5, a = 3)

5 to the power 3 is 125.
5 to the power 3 is 125.

In [20]:
#Positional arguments follow the position in the function. Keyword arguments allow the order to be changed and follow the function.

In [21]:
def power(x, a):
    out = x**a
    print(f'{x} to the power {a} is {out}.')
    return out

In [22]:
out = power(5, 3)

5 to the power 3 is 125.

In [23]:
#return means a variable can take the return value of the function.

In [ ]:
def number_fun():
    set = []
    sum = 0
    product = 1
    johnson = True
    while johnson:
        numbers = int(input("Enter a number, enter 0 to stop"))
        if numbers == 0:
            johnson = False
        else:
            set.append(numbers)
    for i in set:
        sum +=i
    for i in set:
        product *=i
    print(sum)
    print(product)

In [36]:
number_fun()

11
30

In [40]:
def input_num():
    invalid_input = True

    while invalid_input:
        num = input("Please enter an integer. Enter 0 to stop: ")
        try:
            num = int(num)
            invalid_input = False
        except:
            print("Invalid input")
    return num

def sum_product():
    #Sum and product of numbers entered.
    sum_num = 0
    prod_num = 1

    #Call first number
    num = input_num()

    while num:
        sum_num += num
        prod_num *= num
        num = input_num()
    print(f"The sum of the integers is {sum_num}")
    print(f"The product of the integers is {prod_num}")

In [41]:
sum_product()

The sum of the integers is 9
The product of the integers is 20

In [42]:
#Author used input validation, which is sensible for user input.

In [43]:
class Staff():
    pass

In [44]:
new_staff = Staff()

In [46]:
type(new_staff)

__main__.Staff

In [47]:
print(new_staff)

<__main__.Staff object at 0x7f93888522d0>

In [48]:
class Staff():
    def __init__ (self, name, hours):
        self.name = name
        self.hours = hours

In [61]:
new_staff = Staff("Amy", 40)

In [50]:
print(new_staff.name)

Amy

In [59]:
class Staff():
    def __init__ (self, name, hours):
        self.name = name
        self.hours = hours
    def __repr__ (self):
        return f"{self.name} works for {self.hours} hours" # this tells the class what to retur

In [53]:
print(new_staff)

<__main__.Staff object at 0x7f93a0513450>

In [54]:
print(new_staff.name)

Amy

In [55]:
print(Staff())

TypeError: Staff.__init__() missing 2 required positional arguments: 'name' and 'hours'

In [63]:
print(Staff)

<class '__main__.Staff'>

In [ ]:
new_staff = Staff("Amy", 40)

In [ ]:
print(repr(new_staff)) #can get statement to print if use repr function. Instance must be made after class is computed.
#found at https://www.geeksforgeeks.org/python-repr-function/

Amy works for 40 hours

In [64]:
class Firm():
    def __init__(self):
        self.staff_list = []
    def add_staff(self, staff):
        self.staff_list.append(staff)

In [66]:
#Instance
staff1 = Staff("Becky", 40)
staff2 = Staff("Tom", 35)
print(f'{staff1.name} works for {staff1.hours} hours)')

#Start firm
my_firm = Firm()
print(my_firm.staff_list)

#Add staff to list
my_firm.add_staff(staff1)
my_firm.add_staff(staff2)

#Show our list
print(my_firm.staff_list)

Becky works for 40 hours)
[]
[Becky works for 40 hours, Tom works for 35 hours]

In [67]:
#Problems#####

In [78]:
import random

weighting = random.random()
print(weighting)

0.7919869686799424

In [74]:
class Player():
    def __init__(self, name, num_of_armies):
        self.name = name
        self.num_of_armies = num_of_armies

In [76]:
player1 = Player("Amy", 5)
player2 = Player("Tom", 4)

In [86]:
sum = 0
sumt = 0
for i in range(player1.num_of_armies):
    weighting = random.random()
    print(weighting)
    sum += weighting
for i in range(player2.num_of_armies):
    weighting = random.random()
    sumt += weighting
print(f'{sum}, {sumt}')

0.5573257787720931
0.5783220597638796
0.8539703928121167
0.8847617421173337
0.48399102642232417
3.3583709998877476, 2.0823644747134136

In [87]:


if sum > sumt:
    print("Amy wins")
else:
    print("Tom wins")

Amy wins